extends layout 
block content
    div.about_bottom
    h1 About
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatibus aut quia qui sit optio eligendi suscipit et quibusdam veritatis vitae laboriosam voluptate, dolore ex quasi magnam iusto architecto pariatur!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corporis facere molestiae dolor nihil doloribus, accusamus nesciunt repudiandae magnam consectetur illo, alias quo dignissimos id labore libero repellendus facilis! Dolorum.