extends layout

block content
  div.index_left
  div.index_right
  h1= title
  p A personal diary of your music collection
  p Don't forget your essentials
  a(href='/catalog', class="button") Take me to my catalog
